#main-title {
  font-family: monospace;
  font-size: 8rem;
  color: aquamarine;
  font-weight: bolder;
  text-align: center;
  padding-left: 6rem;
}

#pizza-man {
  background-image: url("../images/pizza-man_adobespark.png");
  background-repeat: no-repeat;
  height: 9rem;
}

#toppings-title {
  margin-top: .5rem;
}

#green-line {
  font-size: larger;
  padding: .5rem;
  background-color: aquamarine;
  position: absolute;
}

h5 {
  padding-top: 1rem;
}

#display-cost, #output {
  display: none;
  font-family: monospace;
  padding: 2rem;
  font-size: 1.5rem;
}

.radio, .checkbox {
  font-size:medium;
}