#main-title {
  padding-top: 4rem;
  padding-left: 10rem;
  font-family: monospace;
  font-size: 8rem;
  color: aquamarine;
  font-weight: bolder;
}

#pizza-man {
  background-image: url("../images/cartoon-man.jpeg");
  background-repeat: no-repeat;
}

#toppings-title {
  margin-top: .5rem;
}

#display-cost {
  display: none;
  background-color: aquamarine;
  font-family: monospace;
  padding: 2rem;
  color: white;
  font-size: 2rem;
}